<div class="dev-holder">
  <div class="dev-info">
    <h1>
      Heather Storseth
    </h1>
    <div class="dev-icons">
      <a href="https://hstor3.github.io/portfolio/" target="_blank">
        <i class="fas fa-globe"></i>
        <h4>
          Portfolio
        </h4>
      </a>
      <a href="https://github.com/" target="_blank">
        <i class="fab fa-github"></i>
        <h4>
          GITHUB
        </h4>
      </a>
    </div>
  </div>
  <div class="dev-info">
    <h1>
      Marina Russ
    </h1>
    <div class="dev-icons">
      <a href="https://marina-russ.github.io/" target="_blank">
        <i class="fas fa-globe"></i>
        <h4>
          Portfolio
        </h4>
      </a>
      <a href="https://github.com/" target="_blank">
        <i class="fab fa-github"></i>
        <h4>
          GITHUB
        </h4>
      </a>
    </div>
  </div>
  <div class="dev-info">
    <h1>
      Douglas Lubaway
    </h1>
    <div class="dev-icons">
      <a href="https://hhhhhaaaa.github.io/Portfolio/" target="_blank">
        <i class="fas fa-globe"></i>
        <h4>
          Portfolio
        </h4>
      </a>
      <a href="https://github.com/" target="_blank">
        <i class="fab fa-github"></i>
        <h4>
          GITHUB
        </h4>
      </a>
    </div>
  </div>
  <div class="dev-info">
    <h1>
      Jon Yeatman
    </h1>
    <div class="dev-icons">
      <a href="https://yeatman51.github.io/yeatman_portfolio/" target="_blank">
        <i class="fas fa-globe"></i>
        <h4>
          Portfolio
        </h4>
      </a>
      <a href="https://github.com/" target="_blank">
        <i class="fab fa-github"></i>
        <h4>
          GITHUB
        </h4>
      </a>
    </div>
  </div>
</div>