<div class="dev-info">
    <img class="dev-pic" src="./assets/img/jon-profile-picture.jpeg" alt="">
    <h1>Heather Storseth</h1>

    <a href="https://hstor3.github.io/portfolio/" target="_blank">
        <i class="fas fa-globe"></i>
    </a>

    <a href="https://github.com/" target="_blank">
        <i class="fab fa-github"></i>
    </a>
</div>

<div class="dev-info">
    <img class="dev-pic" src="./assets/img/jon-profile-picture.jpeg" alt="">
    <h1>Marina Russ</h1>

    <a href="https://marina-russ.github.io/" target="_blank">
        <i class="fas fa-globe"></i>
    </a>

    <a href="https://github.com/" target="_blank">
        <i class="fab fa-github"></i>
    </a>
</div>

<div class="dev-info">
    <img class="dev-pic" src="./assets/img/jon-profile-picture.jpeg" alt="">
    <h1>Douglas Lubaway</h1>

    <a href="https://hhhhhaaaa.github.io/Portfolio/" target="_blank">
        <i class="fas fa-globe"></i>
    </a>

    <a href="https://github.com/" target="_blank">
        <i class="fab fa-github"></i>
    </a>
</div>

<div class="dev-info">
    <img class="dev-pic" src="./assets/img/jon-profile-picture.jpeg" alt="">
    <h1>Jon Yeatman</h1>

    <a href="https://yeatman51.github.io/yeatman_portfolio/" target="_blank">
        <i class="fas fa-globe"></i>
    </a>

    <a href="https://github.com/" target="_blank">
        <i class="fab fa-github"></i>
    </a>
</div>