<div class="logo-home"></div>

<div class="header-text">
  <h1>
    Treat YO Shelf
  </h1>
</div>

<div class="home-card">
  <p>
    Hey do you like books?
    <br />
    If so sign up now for a free account and start saving your favorite books in your custom reading lists
  </p>
</div>

<div class="home-login-card">
  <a href="/login">
    <button class="signup-btn">
      Sign UP
    </button>
  </a>

  <a href="/login">
    <button class="login-btn">
      Login
    </button>
  </a>
</div>