<div class="header-text-list">
  <h1>
    MY LIST
  </h1>
</div>
<nav class="navbar">
  <a href="homepage">
    <i class="fas fa-home"></i>
  </a>
  <a href="search">
    <i class="fas fa-search"></i>
  </a>
  <a href="list">
    <i class="fas fa-layer-group"></i>
  </a>
  <a href="recommended">
    <i class="fas fa-book-open"></i>
  </a>
  <i class="fas fa-bars"></i>
</nav>