<div class="list-pg">
  <div class="header-text-list">
    <h1>MY LIST</h1>
  </div>

  <div class="search-result" id="search-result">
    {{#each books as |book|}}
    {{!-- displays to book title and author --}}
    <div class="appended-results">Title: {{book.title}} <br> Author: {{book.author}}</div>
    <button class="bookDeleter" data-id={{book_id}}>Delete</button>
    
  </div>

    {{/each}}
</div>
<input type="hidden" value={{book_id}} id="book_value" />