{{!-- saved books will be saved here --}}

<div class="header-text-list">
  <h1>MY LIST</h1>
</div>

{{!-- {{#each results as |result|}} --}}
<div class="search-result" id="search-result">
  <p class="list-description">Description paragraphs words go here</p>
</div>
{{!-- {{/each}} --}}