<div class="login-pg">
  <div class="logo-login"></div>
  <div class="header-text-login">
    <h1>
      Treat YO Shelf
    </h1>
    <h3>
      Sign UP or Login
    </h3>
  </div>
  {{! login form }}
  <form class="login-form">
    <h3>
      Login
    </h3>
    <div class="login-containers">
      <label for="uname">
        Username:
      </label>
      <input
        class="user-input"
        placeholder="Please enter your Username"
        type="text"
        id="username"
      />
    </div>
    <div class="password-container">
      <label for="psw">
        Password:
      </label>
      <input
        class="pass-input"
        type="password"
        placeholder="Enter your Password"
        id="password"
      />
    </div>
    <div class="center">
      <button class="btn login-btn-sub" type="submit">
        login
      </button>
    </div>
  </form>
  {{! sign up form }}
  <form class="signup-form">
    <h3>
      Sign UP
    </h3>
    <div class="form-group">
      <label for="username-signup">
        Username:
      </label>
      <input
        id="user-input"
        type="text"
        placeholder="Please enter your Username"
      />
    </div>
    <div class="form-group">
      <label for="password-signup">
        Password:
      </label>
      <input
        id="pass-input"
        type="password"
        placeholder="Enter your Password"
      />
    </div>
    <div class="form-group center">
      <button class="btn btn-primary signup-btn-sub" type="submit">
        signup
      </button>
    </div>
  </form>
</div>