<div class="logo-login"></div>
<div class="header-text-login">
  <h1>
    Treat YO Shelf
  </h1>
  <h3>
    Sign UP or Login
  </h3>
</div>
<div class="login-container">
  <label for="uname">
    <b>
      Username
    </b>
  </label>
  <br />
  <input type="text" placeholder="Enter Username" name="uname" required />
  <label for="psw">
    <b>
      Password
    </b>
  </label>
  <br />
  <input type="password" placeholder="Enter Password" name="psw" required />
</div>
<div class="center">
  <button class="login-btn-sub" type="submit">
    Login
  </button>
</div>
<nav class="navbar">
  <a href="">
    <i class="fas fa-home"></i>
  </a>
  <a href="search">
    <i class="fas fa-search"></i>
  </a>
  <a href="list">
    <i class="fas fa-layer-group"></i>
  </a>
  <a href="recommended">
    <i class="fas fa-book-open"></i>
  </a>
  <i class="fas fa-bars"></i>
</nav>