<div class="searchbar center">
  <form class="search-form">
    <input
      class="form-input"
      type="text"
      autocomplete="search"
      placeholder="Search for your favorite book"
      id="search-term"
    />
    <button class="search-btn" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>

{{#each results as |result|}}
<div class="search-display-card">
  <img class="search-img" src="" alt="Book IMG">
  <h1 class="search-title">Title</h1>
  <h3 class="search-author">Author</h3>
  <p class="search-description">Description paragraphs words go here</p>
</div>
{{/each}}
<nav class="navbar">
  <a href="/">
    <i class="fas fa-home"></i>
  </a>

  <a href="/search">
    <i class="fas fa-search"></i>
  </a>

  <a href="/lists">
    <i class="fas fa-layer-group"></i>
  </a>

  <a href="/recommended">
    <i class="fas fa-book-open"></i>
  </a>

  <i class="fas fa-bars"></i>
</nav>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="./js/search.js"></script>