<div class="searchbar center">
  <form class="search-form">
    <input
      class="form-input"
      type="text"
      autocomplete="search"
      placeholder="Search for your favorite book"
      id="searchTerm"
    />
    <button class="search-btn" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>
<div
  rv-unless="searchResults"
  rv-each-searchCard="results"
  class="searchCard search-display-card"
  id="searchResultsSection"
>
</div>
<<<<<<< refs/remotes/origin/main
<<<<<<< refs/remotes/origin/main
=======
<<<<<<< Updated upstream
{{/each}}

>>>>>>> Search Page Works
=======
{{/each}}
>>>>>>> Auto stash before merge of "main" and "origin/main"
<nav class="navbar">
  <a href="/">
    <i class="fas fa-home"></i>
  </a>
  <a href="/search">
    <i class="fas fa-search"></i>
  </a>
  <a href="/lists">
    <i class="fas fa-layer-group"></i>
  </a>
  <a href="/recommended">
    <i class="fas fa-book-open"></i>
  </a>
  <i class="fas fa-bars"></i>
</nav>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="./js/search.js"></script>