:root {
  --blue: #0c66e8;
  --blue-l: #00acff;
  --blue-d: #0f0d14;
  --white: #ffffff;
  --gray-l: rgb(105, 103, 103);
  --gray-d: rgb(59, 59, 59);
}

@media only screen and (min-width: 900px) {
  .navbar {
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  color: white;
  font-size: 54px;
  flex-direction: column;
  padding: 22px 0px;
  
}

.nav-list {
  flex-direction: column;
  background-color: rgba(7, 6, 6, 0.678);
  width: 90%;
  font-size: 44px;
  padding: 15px;
  border-radius: 25px;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 500px;
}
  
  /* Homepage */
.home-pg{
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}

.logo-home {
  padding: 115px;
  margin-top: 19px;
  margin-bottom: 12px;
}

.header-text {
  font-size: 35px;
  margin-bottom: 16px;
}

.home-card {
  font-size: 22px;
  margin-bottom: 22px;
  border-radius: 12px;
  padding: 22px;
  width: 85%;
}

/* Search page */
.search-pg{
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}

.header-text-search {
  color: white;
  font-size: 35px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 16px;
}

.searchbar {
  width: 100%;
  font-size: 20px;
  border-radius: 8px;
  padding: 12px;
}

.searchbar input {
  width: 100%;
  font-size: 20px;
  border-radius: 8px;
  padding: 12px;
  /* margin: 20px 50px 20px 55px; */
}

.search-btn {
  font-size: 45px;
}

.search-display-card {
  font-size: 25px;
  margin: 3% 10% 10% 13%;
  border-radius: 12px;
  padding: 15px 5px;
  width: 85%;
  justify-content: center;
  align-items: center;
}

.search-img {
  max-width: 65%;
  margin: 22px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;

}

.search-title {
  color: white;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.search-author {
  color: white;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.list-add {
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  border-radius: 12px;
  color: white;
  margin: 10px;
  margin-top: 30px;
  padding: 25 10px;
  border: none;
}

.search-description {
  color: white;
  align-items: center;
  justify-content: center;
}

}
