:root {
  --blue: #0c66e8;
  --blue-l: #00acff;
  --blue-d: #0f0d14;
  --white: #ffffff;
  --gray-l: rgb(105, 103, 103);
  --gray-d: rgb(59, 59, 59);
}

.background-img {
  border: none;
  width: 100%;
  height: 100%;
  /* background-image: inherit; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/treatyoshelf-background.svg");
  background-color: var(--blue);
  padding: 4px;
}

.logo {
  background-image: url("../img/treatyoshelf-logo.svg");
  border: none;
  width: 100%;
  padding: 90px;
  margin-top: 3px;
  margin-bottom: 12px;
  /* background-image: inherit; */
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}

.header-text {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 16px;
}

.home-card {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  border-radius: 12px;
  padding: 22px;
}

.home-login-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-btn {
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  padding: 20px;
  color: white;
  border-radius: 12px;
  border: none;
}

.login-btn {
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  padding: 20px;
  color: white;
  border-radius: 12px;
  border: none;
}
