:root {
  --blue: #0c66e8;
  --blue-l: #00acff;
  --blue-d: #0f0d14;
  --white: #ffffff;
  --gray-l: rgb(105, 103, 103);
  --gray-d: rgb(59, 59, 59);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  font-size: 20px;
  height: 68px;
  color: white;
  font-size: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
}

.hamburger:focus {
  outline: none;
}

.nav-list {
  /* display: none; */
  display: flex;
  flex-direction: column;
  background-color: rgba(7, 6, 6, 0.678);
  width: 100%;
  font-size: 44px;
  padding: 15px;
  border-radius: 25px;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  bottom: 0;
  left: 0;
}

.nav-list.show {
  display: flex
}

.navbar a {
  text-decoration: none;
  color: white;
}

.active {
  color: var(--blue-l);
}

.background-img {
  border: none;
  width: 100%;
  height: 100%;
  /* background-image: inherit; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/treatyoshelf-background.svg");
  background-color: var(--blue);
  padding: 4px;
}

.top-logout-btn {
  color: white;
  float: right;
  padding: 10px;
}

/* Homepage */
.logo-home {
  background-image: url("../img/treatyoshelf-logo.svg");
  border: none;
  width: 100%;
  padding: 90px;
  margin-top: 3px;
  margin-bottom: 12px;
  /* background-image: inherit; */
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}

.header-text {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 16px;
}

.home-card {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  border-radius: 12px;
  padding: 22px;
}

.home-login-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-btn {
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  padding: 20px;
  color: white;
  border-radius: 12px;
  border: none;
  margin-right: 10px;
}

.login-btn {
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  padding: 20px;
  color: white;
  border-radius: 12px;
  border: none;
  margin-left: 10px;
}

/* Login page */
.logo-login {
  background-image: url("../img/treatyoshelf-logo.svg");
  border: none;
  width: 100%;
  padding: 77px;
  margin-top: 3px;
  margin-bottom: 12px;
  /* background-image: inherit; */
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}

.header-text-login {
  color: white;
  text-align: center;
  margin-bottom: 16px;
}

.header-text-login h1 {
  font-size: 42px;
}

.header-text-login h3 {
  font-size: 32px;
  margin-top: 10px;
}

.login-form {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  border-radius: 12px;
  padding: 22px;
  height: 180px;
}

.login-container input {
  font-size: 18px;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.login-btn-sub {
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  padding: 20px;
  color: white;
  border-radius: 12px;
  border: none;
  margin-left: 10px;
}

.signup-form {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  /* opacity: 0.4; */
  /* background: rgba(36, 47, 148, 0.8); */
  border-radius: 12px;
  padding: 22px;
  height: 180px;
}

.signup-btn-sub {
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  padding: 20px;
  color: white;
  border-radius: 12px;
  border: none;
  margin-left: 10px;
}

/* Search page */
.searchbar input {
  width: 80%;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  padding: 12px;
  margin: 20px;
  text-align: center;
}

.search-btn {
  color: white;
  font-size: 30px;
  background: none;
  border: none;
  align-items: center;
}

.search-display-card {
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 10px;
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  border-radius: 12px;
  padding: 22px;
}

.search-img {
  margin: 10px;
}

.search-title {
  color: white;
}

.search-author {
  color: white;
}

.search-description {
  color: white;
}

/* list page */
.header-text-list {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.list-display-card {
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 10px;
  background-image: linear-gradient(var(--blue-l), var(--blue), var(--blue-d));
  border-radius: 12px;
  padding: 22px;
}

.list-img {
  margin: 10px;
}

.list-title {
  color: white;
}

.list-author {
  color: white;
}

.list-description {
  color: white;
}
